/* ==============================================================================
   Personal Stylings
=============================================================================== */

body {
    color: #333;
}

.text-grey { color: #999; }
.text-lgrey { color: #ccc; }
.text-bold { font-weight: bold; }

.clickable { cursor: pointer; }

.center-vertical {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
.full-height {
    height: 100%;
}

a.text-decor-none, a:active.text-decor-none, a:hover.text-decor-none, a:visited.text-decor-none { text-decoration:none; }

.btn.btn-grey {
    background:#eee;
    color:#555;
}
.btn.btn-grey.active {
    background-image: none;
    background:#eee;
    color:#333;
    outline: 0;
}

.logo {
  background: url(../img/logo.svg) 0 0 no-repeat;
  background-size: 100%;
}

.logo.side {
  background: url(../img/logo_side.svg) 0 0 no-repeat;
  background-size: 100%;    
}

.logo.main {
    margin: -5px 0px -20px 0px;
    width: 160px;
    height: 44px;
    background-position: 0px 6px;
}

.navbar-nav > li > a {
    color: #999;
}

.navbar-nav > li > a:active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: #555;
}

.navbar-nav > li:hover {
    background:#f1f1f1;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
    background: none;
    color: #555;
    font-weight: bold;
    cursor: default;
}

.navbar-nav > li {
    cursor: pointer;
}

.navbar {
    background: none;
    border:none;
    padding:1px;
}

.navbar-default .navbar-toggle {
    border-color:#333;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#333;
}

@media (max-width:767px) {
    .navbar {
        margin-bottom: 0px;
    }
    .navbar-header {
        margin-bottom:20px;
    }
    .navbar-nav {
        margin-top:10px;
    }
}

.blimp-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

label {
    text-indent: 1px;
}

/* ==============================================================================
   Original Stylings
=============================================================================== */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom:40px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top:40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* ==============================================================================
   Login Form
=============================================================================== */

.form-signin-logo
{
    width: 192px;
    height: 140px;
    margin: 0 auto 10px;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
}
@media (max-width: 767px) {
    .account-wall {
        margin-top: 0px;
        padding: 20px 0px 0px 0px;
    }
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* ==============================================================================
   Tabs
=============================================================================== */

.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}