<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="account-wall">
                <div class="form-signin-logo logo">
                </div>
                <form class="form-signin" ng-submit="login()">
                    <input type="text" name="username" ng-model="userdata.username" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" name="password" ng-model="userdata.password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="rememberme" ng-model="userdata.rememberme">
                        Remember me
                    </label>
                    <a class="pull-right need-help" href="mailto:mail@d-s.io">Need help?</a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>