<div class="row marketing">
    <div class="col-sm-12">
        <h1><a ui-sref="index.blimps" class="text-decor-none">Blimps</a> / {{ blimp.name }}</h1>
        <br>

    </div>
</div>
<div class="row marketing">
    <div class="col-sm-6">
        <label for="blimpApiKey"><b> API Key</b>
        </label>
        <br>
        <input type="text" name="blimpApiKey" class="form-control" value="{{ blimp.apikey }}">
    </div>
    <div class="col-sm-6">
        <label for="o"><b>Operations</b>
        </label>
        <br>
        <button class="btn btn-grey">
            <strike>Regenerate Key</strike>
            <span class="glyphicon glyphicon-refresh clickable"></span>
        </button>

        <button class="btn btn-grey" ng-click="deleteBlimp(blimp._id)">
            Delete Blimp
            <span class="glyphicon glyphicon-trash clickable"></span>
        </button>
        <br>
        <br>
    </div>
</div>
<div class="row marketing">
    <div class="col-lg-12">
        <b>Reports</b><br><br>
        <div ng-repeat="report in reports | orderBy:'-timestamp' track by $index">
            <b>{{ report.timestamp * 1000 | date:'HH:mm:ss / dd.MM.yyyy ' }}</b> - {{ report.ips || report.ip }} @ {{ report.host }} - {{ }}
            <br>
            <div hljs source="report.json | json"></div>
        </div>
    </div>
</div>

