<div class="row marketing">
    <div class="col-sm-12">
        <h1><a ui-sref="index.blimps.list" class="text-decor-none">Blimps</a> / {{ blimp.name }}</h1>
        <br>

    </div>
</div>
<div class="row marketing">
    <div class="col-sm-6">
        <label for="blimpApiKey"><b> API Key</b>
        </label>
        <br>
        <input type="text" name="blimpApiKey" class="form-control" value="{{ blimp.apikey }}">
        <br>
    </div>
    <div class="col-sm-6">
       
        <div ng-switch on="viewState">
            <div ng-switch-when="rename">
                <label><b>Rename</b>
                </label>
                <br>
                <input type="text" class="form-control" ng-model="blimp.name" /><br>
                <button class="btn btn-grey" ng-click="rename.save();switchViewState('default')">
                    Save
                    <span class="glyphicon glyphicon-ok clickable"></span>
                </button>
                <button class="btn btn-grey" ng-click="rename.cancel();switchViewState('default')">
                    Cancel
                    <span class="glyphicon glyphicon-remove clickable"></span>
                </button>
            </div>
            <div ng-switch-default>
                <label><b>Operations</b>
                </label>
                <br>
                <button class="btn btn-grey" ng-click="switchViewState('rename')">
                    Rename
                    <span class="glyphicon glyphicon-pencil clickable"></span>
                </button>
                <button class="btn btn-grey" ng-click="deleteBlimp(blimp._id)">
                    Delete
                    <span class="glyphicon glyphicon-trash clickable"></span>
                </button>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="row marketing">
    <div class="col-sm-12">
        <label><b>Display</b>
        </label>
        <br>
        <button class="btn btn-grey" ng-class="{ active: $state.includes('index.blimps.overview.graph') }" ui-sref="index.blimps.overview.graph({ blimpName: blimp.name })">
            Graph
            <span class="glyphicon glyphicon-stats clickable"></span>
        </button>
         <button class="btn btn-grey" ng-class="{ active: $state.includes('index.blimps.overview.reports') }" ui-sref="index.blimps.overview.reports({ blimpName: blimp.name })">
            Reports
            <span class="glyphicon glyphicon-list-alt clickable"></span>
        </button>
        <br><br>
        <div ui-view></div>
    </div>
</div>