<div class="row marketing" >
    <div class="col-sm-12">
        <h1>Blimps</h1>
        <br>
        <button type="button" ng-click="createBlimp()" class="btn btn-grey">
            <span class="glyphicon glyphicon-plus clickable"></span> Create New Blimp
        </button>
        <button type="button" class="btn btn-grey"><strike><span class="glyphicon glyphicon-stats clickable"></span> View All Logs</strike></button>
    </div>
</div>
<div class="row marketing">
    <div class="col-sm-12">
        <i ng-if="!blimps">No Blimps yet.</i>
        <div class="row">
            <div class="col-sm-6 blimp-container" ng-repeat="blimp in blimps | orderBy:'name' track by $index">
                <h2 >{{ blimp.name }}</h2>
                
                <label for="blimpApiKey_{{ blimp.name }}"><b> API Key</b></label>
                <input type="text" name="blimpApiKey_{{ blimp.name }}" class="form-control" value="{{ blimp.apikey }}">
                <br>
                <button class="btn btn-grey" ui-sref='index.blimps.overview.graph({ blimpName: blimp.name })'>
                    Overview <span class="glyphicon glyphicon-dashboard clickable"></span>
                </button>
                <button class="btn btn-grey" ng-click="deleteBlimp(blimp._id)">
                    Delete <span class="glyphicon glyphicon-trash clickable"></span>
                </button>
            </div>
    </div>
</div>